@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: $text-color;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  min-width: 320px;
}

h2,
h3 {
  font-family: $font-family-title;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  margin: 0 20px;
}

section {
  padding-bottom: 30px;
}

.button {
  display: inline-flex;
  justify-content: center;
  min-width: 280px;
  padding: 9px 50px;
  background-color: $color-green;
  font-family: $font-family-title;
  color: $color-white;
  text-transform: uppercase;
  line-height: 1.3;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-dark-green;
  }

  &:active {
    background-color: $color-dark-green;
    color: $color-light;
  }
}

@media (min-width: $tablet-width) {
  html,
  body {
    font-size: 16px;
  }

  h2 {
    padding: 30px 0;
    font-size: 60px;
  }

  .row {
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .row {
    max-width: 1220px;
    margin: 0 auto;
  }
}
