.copyright__link {
  text-decoration: none;
  color: $text-color;
  font-size: 16px;
}

.copyright__logo svg {
  width: 27px;
  height: 34px;
  margin-top: 9px;
  fill: $color-icons;

  &:hover,
  &:focus {
    fill: $color-green;
  }

  &:active {
    fill: $color-green;
    opacity: 0.3;
  }
}
