.more-items__to-all {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.more-items__title {
  position: relative;
  margin: 80px 0 10px;
  width: unset;
  align-self: center;
  text-transform: uppercase;
  font-size: 16px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-plus-mobile.svg");
    width: 31px;
    height: 31px;
    opacity: 0.2;
    top: -54px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.more-items__button {
  margin-top: 23px;
  color: $text-color;
  background-color: $bgc-grey;
  font-size: 16px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $btn-darken-grey;
  }

  &:active {
    color: $color-light-grey;
  }
}

@media (min-width: $tablet-width) {
  .more-items {
    background-color: $color-white;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  .more-items__title {
    font-size: 20px;
    margin: 0 35px;

    &::before {
      background-image: url("../img/icon-plus.svg");
      width: 61px;
      height: 61px;
      top: -102px;
    }
  }

  .more-items__slogan {
    margin: 24px 40px 0;
  }

  .more-items__button {
    min-width: 100%;
    margin-top: 86px;
  }
}

@media (min-width: $desktop-width) {
  .more-items__title {
    margin: 0;
  }

  .more-items__slogan {
    margin: 24px 0 0;
  }

  .more-items__button {
    margin-top: 86px;
    padding: 9px 0;
  }
}
