.others {
  padding-bottom: 37px;
}

.others__title {
  position: relative;
  display: inline-flex;
  padding: 25px 22px 27px 0;
  background-color: $color-white;
  font-size: 24px;

  &::before,
  &::after {
    position: absolute;
    top: 42px;
    content: "";
    display: block;
    background-color: $color-green;
    width: 100vw;
    height: 3px;
    z-index: -2;
  }

  &::before {
    right: 0;
    display: none;
  }

  &::after {
    left: 0;
  }
}

.others__list {
  display: flex;
  flex-wrap: wrap;
}

.others__item {
  width: 100%;
  min-height: 129px;
  border-bottom: $border-line;
  border-top: $border-line;
  display: flex;
  flex-direction: column;
}

.others__name {
  margin-top: 8px;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.others__details {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}

.others__btn {
  padding: 10px 50px;
  text-decoration: none;
  font-size: 16px;
}

.others__gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: $color-green;
  width: 280px;
  min-height: 289px;
  margin: 39px auto 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.others__slogan {
  position: relative;
  padding: 187px 50px 0;
  color: $color-white;
  font-size: 16px;
  text-align: center;
  line-height: 1.25;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-gift.svg");
    width: 56px;
    height: 61px;
    top: 65px;
    left: 113px;
  }
}

@media (min-width: $tablet-width) {
  .others {
    padding-bottom: 78px;
  }

  .others__title {
    padding: 37px 37px 73px;
    font-size: 36px;

    &::before,
    &::after {
      top: 69px;
    }

    &::before {
      display: block;
    }
  }

  .others__item {
    padding: 0 37px;
    min-height: 140px;
    justify-content: flex-start;
    border: $border-line;
  }

  .others__item-wrapper {
    margin-top: 21px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .others__name {
    margin: 0;
    letter-spacing: 1px;
  }

  .others__price {
    margin-left: 50px;
  }

  .others__gift {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 100%;
    min-height: 200px;
    margin-top: 66px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .others__slogan {
    padding: 72px 125px 68px 424px;
    text-align: left;

    &::before {
      left: 90px;
    }
  }
}

@media (min-width: $desktop-width) {
  .others {
    padding-bottom: 88px;
  }

  .others__title {
    padding: 41px 35px 72px 0;

    &::before,
    &::after {
      top: 74px;
    }

    &::before {
      width: 160px;
      left: -200px;
    }
  }

  .others__layout {
    display: flex;
  }

  .others__item {
    padding: 13px 0 0;
    min-height: 72px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    border-right: none;
  }

  .others__item-wrapper {
    min-width: 613px;
    margin: 0;
  }

  .others__name {
    letter-spacing: 0.7px;
  }

  .others__details {
    min-width: 288px;
  }

  .others__list {
    width: 895px;
  }

  .others__btn {
    min-width: 245px;
    margin-bottom: 11px;
  }

  .others__gift {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 289px;
    margin-left: 80px;
    margin-top: -1px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .others__slogan {
    padding: 189px 40px 0;
    text-align: center;

    &::before {
      left: 96px;
    }
  }
}
