.page-footer {
  text-align: center;
  background-color: $bgc-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__item {
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;

  &:last-child {
    border-bottom: none;
  }
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 29px;
}

.page-footer__logo-img {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}

.page-footer__social {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    height: 150px;
    min-height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__item {
    border-bottom: none;
    width: 162px;
    padding: 15px 0;
  }

  .page-footer__logo {
    text-align: left;
  }

  .page-footer__copyright {
    margin-left: -11px;
    padding-top: 10px;
  }
}
