.products {
  padding-bottom: 0;
  font-size: 12px;
}

.products__title {
  margin-left: -22px;
  padding-top: 17px;
  padding-bottom: 30px;
  color: #111111;
  border-top: $border-line;
  border-bottom: $border-line;
  text-align: center;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__container {
  flex-basis: 320px;
  border-bottom: $border-line;
}

.products__item {
  min-height: 208px;
}

.products__description {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.products__info {
  width: calc(100% / 2);
}

.products__name {
  width: 74px;
  margin-top: -4px;
  margin-bottom: 15px;
  line-height: 1.25;
  font-size: 16px;
  text-transform: uppercase;
}

.products__details {
  width: 100%;
  line-height: 1.33;

  & td:nth-of-type(2) {
    text-align: right;
  }
}

.products__order {
  font-size: 16px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .products {
    margin: 0 30px;
    font-size: 16px;
  }

  .products__list {
    justify-content: space-between;
  }

  .products__title {
    margin: 0;
    padding-top: 31px;
    text-align: left;
  }

  .products__container {
    position: relative;
    width: 45.77%;
    min-height: 430px;
    margin-top: 120px;
    margin-bottom: 18px;
    flex-basis: unset;
    text-align: center;
    background-color: $bgc-grey;
  }

  .products__item {
    display: flex;
    flex-direction: column;
    padding-top: 161px;
    margin: 0 37px;
    padding-bottom: 41px;
    min-height: 431px;
  }

  .products__description {
    flex-direction: column-reverse;
  }

  .products__info {
    width: 100%;
  }

  .products__name {
    width: 136px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1;
  }

  .products__details {
    margin-top: 22px;
    margin-bottom: 34px;

    td {
      padding: 5px 0;
      border-bottom: $border-input;
    }

    & td:nth-of-type(1) {
      text-align: left;
    }
  }

  .products__image {
    position: absolute;
    width: 100%;
    left: 0;

    &--small {
      top: -50px;
    }

    &--big {
      top: -84px;
    }
  }

  .products__order {
    min-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .products {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 40px 3px;
  }

  .products__title {
    padding-top: 6px;
    padding-bottom: 28px;
    border: none;
  }

  .products__container {
    flex-basis: 245px;
    margin-top: 122px;
    margin-bottom: 19px;
  }

  .products__item {
    padding-top: 165px;
  }

  .products__details {
    margin-top: 19px;
    margin-bottom: 35px;
  }

  .products__image {
    &--big {
      top: -80px;
    }

    &--small {
      top: -44px;
    }
  }
}
