.programs {
  position: relative;
  padding-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-green;
    background-size: cover;
    top: 0;
    width: 320px;
    height: 305px;
    z-index: -1;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.programs__header {
  min-height: 305px;
  text-align: center;
  color: $color-white;
}

.programs__title {
  margin: 0 20px;
  padding-top: 27px;
  line-height: 1;
}

.programs__slogan {
  padding-bottom: 25px;
  font-family: $font-family-title;
  text-transform: uppercase;
}

.programs__image {
  display: block;
  margin: 0 auto;
}

.programs__select {
  margin-top: 4px;
  text-decoration: none;
  padding: 11px 50px;
}

.programs__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 22px 20px 0;
  list-style: none;
}

.programs__item {
  position: relative;
  padding: 0 20px;
  min-height: 266px;
  flex-basis: 100%;
  background-color: $bgc-grey;

  &--slim {
    margin-bottom: 20px;
  }
}

.programs__name {
  padding: 31px 0;
  font-size: 24px;
  margin-left: 71px;
  font-weight: 400;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-color: $color-green;
    width: 50px;
    height: 51px;
    top: 24px;
    left: 21px;
    border-radius: 50%;
  }

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    z-index: 1;
  }

  &--slim::before {
    background-image: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    top: 24px;
    left: 30px;
  }

  &--pro::before {
    background-image: url("../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    top: 35px;
    left: 13px;
  }
}

.programs__description {
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
  font-family: $font-family;
  line-height: 1.3;
}

.programs__link:link,
.programs__link:visited {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: $font-family-title;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
  font-size: 16px;

  &:hover .programs__icon-link,
  &:focus .programs__icon-link {
    display: none;
  }

  &:hover .programs__icon-link--hover,
  &:focus .programs__icon-link--hover {
    position: absolute;
    display: block;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
  }

  &:active {
    color: $color-light-grey;
  }
}

.programs__icon-link {
  margin-left: 10px;

  &--hover {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    position: relative;

    &::before {
      display: none;
    }
  }

  .programs__header {
    margin-left: 118px;
    text-align: left;
    margin-bottom: 499px;
    color: $color-black;
  }

  .programs__title {
    width: 415px;
    margin: 20px 0 6px;
  }

  .programs__slogan {
    font-size: 20px;
  }

  .programs__select {
    min-width: 245px;
    margin-top: 17px;
    padding: 13px 28px;
    font-size: 20px;
  }

  .programs__image {
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    top: 228px;
    left: 29px;
  }

  .programs__list {
    margin: 0 30px;
  }

  .programs__item {
    min-width: 708px;
    min-height: 372px;
    margin-top: 31px;
    margin-bottom: 0;
    padding: 50px 52px 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--pro .programs__description {
      width: 344px;
    }
  }

  .programs__name {
    margin-left: 0;
    padding: 18px 0 0;
    font-size: 36px;

    &::after {
      width: 200px;
      height: 200px;
      top: 91px;
      left: auto;
      right: 62px;
    }

    &--slim::before {
      width: 141px;
      height: 194px;
      top: 79px;
      left: auto;
      right: 90px;
    }

    &--pro::before {
      width: 268px;
      height: 113px;
      top: 133px;
      left: auto;
      right: 28px;
    }
  }

  .programs__description {
    width: 373px;
    margin-top: 2px;
    font-size: 16px;
    line-height: 1.5;
    border: none;
  }

  .programs__link {
    &:link,
    &:visited {
      font-size: 20px;
    }

    &:hover .programs__icon-link--hover,
    &:focus .programs__icon-link--hover {
      left: 115px;
    }
  }

  .programs__icon-link {
    margin-left: 24px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    position: relative;
    max-width: $desktop-width;
    min-height: 167px;
    margin: 0 auto;
    padding: 0 40px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      background-image: url("../img/index-background-desktop@1x.jpg");
      width: 720px;
      height: 696px;
      top: -197px;
      right: -70px;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .programs__header {
    margin-bottom: 0;
    margin-left: 80px;
  }

  .programs__title {
    margin: 29px 0 5px;
  }

  .programs__select {
    margin-top: 23px;
  }

  .programs__image {
    width: 552px;
    height: 499px;
    top: -54px;
    left: 490px;
  }

  .programs__list {
    margin: 204px 0 0;
    justify-content: space-between;
  }

  .programs__item {
    min-width: 570px;
    flex-basis: 462px;
    margin-top: 66px;

    &--pro .programs__description {
      width: 446px;
    }
  }

  .programs__name {
    margin-left: 163px;

    &::after {
      width: 100px;
      height: 100px;
      top: 46px;
      left: 52px;
    }

    &--slim::before {
      width: 71px;
      height: 97px;
      top: 40px;
      left: 66px;
    }

    &--pro::before {
      width: 134px;
      height: 57px;
      top: 68px;
      left: 35px;
    }
  }

  .programs__description {
    margin-top: 60px;
    margin-bottom: 0;
    width: 469px;
  }
}
