.social__link {
  text-decoration: none;
}

.social__item {
  margin-right: 36px;

  &--vkontakte {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 17px;
    height: 17px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
    margin-right: 0;
  }
}

.social__item svg {
  fill: $color-icons;

  &:hover,
  &:focus {
    fill: $color-green;
  }

  &:active {
    fill: $color-green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 28px;

    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
