$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1220px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "Arial", "Helvetica", sans-serif;
$font-family-title: "Oswald", "Arial", sans-serif;

$color-white: #ffffff;
$color-whiten: rgba(255, 255, 255, 0.6);
$color-light: rgba(255, 255, 255, 0.3);
$color-black: #111111;
$color-dark: #222222;
$color-grey: rgba(17, 17, 17, 0.6);
$color-light-grey: rgba(17, 17, 17, 0.3);
$color-green: #68b738;
$color-dark-green: #5eaa2f;
$color-icons: #666666;
$text-color: #444444;
$bgc-grey: #f2f2f2;
$btn-darken-grey: #ebebeb;
$btn-light-grey:rgba(68, 68, 68, 0.3);
$border-line: 1px solid #ededed;
$border-input: 1px solid #cdcdcd;
$border-input-hvr: 1px solid #bababa;
$range-color: #dcdcdc;
