.address {

  padding-bottom: 0;

  &__header {
    display: flex;
    align-items: center;
    min-height: 57px;
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.25;
  }

  &__info {
    line-height: 1.43;
  }

  &__map {
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
    height: 360px;
  }

  &__map-item {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
  }
}
