.advantages__list {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  font-family: $font-family;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin: 14px 0;
  line-height: 1.3;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-green;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    width: 60px;
    height: 60px;
    top: -4px;
    left: -80px;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 60px 60px;
      background-position: 0 0;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 0;
    border-bottom: $border-line;
  }

  .advantages__list {
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    margin-top: 139px;
    margin-bottom: 103px;
    flex-basis: 245px;
    line-height: 1.5;

    &:nth-child(2n) {
      margin-right: 78px;
    }

    &::before {
      background-position: 14px 14px;
      width: 80px;
      height: 80px;
      top: -112px;
      left: 0;
    }


    &::after {
      position: absolute;
      height: 228px;
      top: -220px;
      left: 112px;
      z-index: -1;
      font-family: $font-family-title;
      font-size: 281px;
      color: $bgc-grey;
    }

    &--leaf::after {
      content: "1";
      left: 118px;
    }

    &--powder::after {
      content: "2";
    }

    &--dining::after {
      content: "3";
    }

    &--clock::after {
      content: "4";
    }
  }
}


@media (min-width: $desktop-width) {
  .advantages {
    border: none;
  }

  .advantages__title {
    padding: 58px 0;
  }

  .advantages__item {
    margin: 0;
    padding-top: 110px;
    min-height: 265px;

    &:nth-child(2n) {
      margin: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      height: 233px;
      top: -110px;
    }
  }
}
