.advantages__list {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  font-family: $font-family;
  list-style: none;
}

.advantages__item {
  margin: 15px 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    border: $border-line;
  }

  .advantages__list {
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    margin-top: 120px;
    margin-bottom: 70px;
    flex-basis: 220px;

    &:nth-child(2n+1) {
      margin-right: 180px;
    }
  }
}


@media (min-width: $desktop-width) {
  .advantages {
    border: none;
  }

  .advantages__list {
    justify-content: space-between;
  }

  .advantages__item {
    margin: 0;

    &:nth-child(2n+1) {
      margin: 0;
    }
  }
}
