.example {
  background-color: $bgc-grey;
}

.example__rate {
  display: flex;
  justify-content: space-between;
}

.example__rate-cat {
  flex-basis: 124px;
  padding: 20px;
  text-align: center;
}

.example__rate-number {
  font-family: $font-family-title;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.example__cat {
  text-align: center;
}

.example__price {
  font-family: $font-family-title;
  text-transform: uppercase;
  text-align: center;
  color: $color-black;
}

.example__before-after {
  display: flex;
  justify-content: space-around;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $color-white;
  }

  .example__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__price {
    width: 174px;
    font-size: 20px;
    text-align: right;
  }

  .example__cat {
    background-color: $bgc-grey;
  }
}

@media (min-width: $desktop-width) {
  .example__layout {
    background-color: $bgc-grey;
  }

  .example__items {
    max-width: 1200px;
    min-height: 462px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .example__wrapper {
    width: 430px;
    margin: 0;
  }

  .example__info {
    flex-wrap: wrap;
  }

  .example__price {
    width: 100%;
    text-align: left;
  }
}
