.page-header {
  min-height: 65px;
}

.page-header__container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.nav {
  align-self: center;
  width: 100%;
}

.nav__toggle {
  border: none;
  background-color: #ffffff;
  outline: none;
}

.nav__list {
  list-style: none;
  text-align: center;
}

.nav__item {
  padding: 15px 0;
  border-top: $border-line;
}

.nav__link {
  font-family: $font-family-title;
  font-size: 20px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}
