.page-header__container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: $border-line;
  margin: 0 20px;
}

.page-header__logo-img {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.nav {
  align-self: center;
}

.nav--open {
  display: block;
}

.nav--close {
  display: none;
}

.nav--nojs {
  display: block;
}

.page-header__toggle {
  background-color: $color-white;
  border: none;
  outline: none;
}

.toggle--open .toggle--btn-close {
  display: block;
}

.toggle--open .toggle--btn-open {
  display: none;
}

.toggle--close .toggle--btn-close {
  display: none;
}

.toggle--close .toggle--btn-open {
  display: block;
}

.toggle--nojs .toggle--btn-open {
  display: none;
}

.toggle--nojs .toggle--btn-close {
  display: none;
}

.nav__list {
  list-style: none;
  text-align: center;
}

.nav__item {
  padding: 15px 0;
  border-bottom: $border-line;
}

.nav__link {
  font-family: $font-family-title;
  font-size: 20px;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;

  &:hover,
  &:focus {
    color: $color-grey;
  }

  &:active {
    color: $color-light-grey;
  }
}


@media (min-width: $tablet-width) {
  .page-header {
    margin: 24px 30px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__container {
    border: none;
    padding: 0;
    margin: 0;
  }

  .page-header__logo-img {
    width: 174px;
    height: 59px;
  }

  .page-header__toggle {
    display: none;
  }

  .nav {
    flex-grow: 1;
    width: 440px;
  }

  .nav__list {
    margin-top: 11px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .nav__item {
    margin-left: 36px;
    border: none;
  }

  .nav__link {
    font-size: 18px;

    &--active::after {
      @include active-line;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header,
  .programs {
    max-width: 1200px;
    margin: 0 auto;
  }
}
