.products__title {
  color: #111111;
  border-top: $border-line;
  border-bottom: $border-line;
  text-align: center;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__container {
  padding: 0 0 25px;
  flex-basis: 320px;
  border-bottom: $border-line;
}

.products__description {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.products__order {
  font-size: 16px;
}

.products__to-all {
  text-align: center;
}

.products__more-items {
  margin: 80px 0 10px;
  text-transform: uppercase;
  font-size: 16px;
}

.products__all-button {
  margin-top: 20px;
  color: $text-color;
  background-color: $bgc-grey;
  font-size: 16px;

  &:hover,
  &:focus {
    background-color: $btn-darken-grey;
  }

  &:active {
    color: $color-light-grey;
  }
}

@media (min-width: $tablet-width) {
  .products__description {
    flex-direction: column-reverse;
  }
}
