$tablet-width: 768px;
$desktop-width: 1200px;
$font-family: "Arial", "Helvetica", sans-serif;
$font-family-title: "Oswald", "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #111111;
$color-dark: #222222;
$color-green: #68b738;
$color-icons: #666666;
$text-color: #444444;
$bgc-grey: #f2f2f2;
$border-line: 1px solid #ededed;
$border-input: 1px solid #cdcdcd;
