.address {

  padding-bottom: 0;

  &__header {
    display: flex;
    align-items: center;
    min-height: 57px;
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.25;
  }

  &__info {
    line-height: 1.43;
  }

  &__map {
    text-align: center;
  }
}
