$font-family: "Arial", "Helvetica", sans-serif;
$font-family-title: "Oswald", "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #111111;
$text-color: #444444;
$bgc-grey: #f2f2f2;
$border-line: 1px solid #ededed;
$btn-color: #68b738;

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: $text-color;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

h2,
h3 {
  font-family: $font-family-title;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  padding: 30px 0;
}

.row {
  margin: 0 20px;
}

section {
  padding-bottom: 30px;
}

.button {
  font-family: $font-family-title;
  min-width: 280px;
  border: none;
  background-color: $btn-color;
  color: $color-white;
  padding: 15px 50px;
  text-transform: uppercase;
  line-height: 1.3;

  display: inline-flex;
  justify-content: center;
}
